        
        <footer>
            <nav class = "navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: #c2ecff;" role = "navigation">
                <div class = "container">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            
                            <li class = "nav-item"><a class = "nav-link" href = "/student">Student</a></li>
                            <li class = "nav-item"><a class = "nav-link" href = "/teacher">Teacher</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div>
                        <a class = "nav-link" href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Visit My Website</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </footer>  
    </div>     
    </body>
</html>     