<%- include('../../_partial/teacher/_header'); -%>

<ul>
    <li>
        <p>MSSV - VIEN HAI YEN</p>
    </li>
    <li>
        <p>MSSV - THINH NGO</p>
    </li>
    <li>
        <p>MSSV - LINH</p>
    </li>
    <li>
        <p>MSSV - NGUYEN VU</p>
    </li>
    <li>
        <p>MSSV - LE MINH TRI</p>
    </li>
</ul>

<%- include('../../_partial/teacher/_footer'); -%>